body {
  background-color: rgb(86, 247, 220);
}

div {
  text-align: center;
  font-family: "Lucida Console";
}

h1 {
  color: navy;
  font-size: 40px;
}

p {
    color: navy;
    font-size: 18px;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #221b1b;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }